.contlEstoque{
  padding-top: 20rem;
  height: calc(100vh - 10rem - 5rem - 10rem);
}


.ItemBodyEstoque{
  width: calc(1080px - 120px);
}

  .ItemBodyEstoqueDescription{
    width: calc(100% - 45rem - 60px);
    display: flex;
    flex-wrap: nowrap;
  }

  .ItemBodyEstoqueDescription > *{
    margin-right: 2rem;
  }

  .ItemBodyEstoqueDescription > *:last-child{
    margin-right: 0;
  }

    .ItemBodyRowInput{
      padding: 0 1rem;
      border: 3px solid black;
      height: calc(5rem - 6px);
    }

    .ItemBodyRowInputTitle{
      width: calc(100% - 10rem - 6px - 2rem - 10rem - 6px - 2rem);
    }

    .ItemBodyRowInputPreco{
      width: calc(10rem - 6px - 2rem);
    }

    .ItemBodyRowInputQuantidade{
      width: calc(10rem - 6px - 2rem);
    }

  .ItemBodyEstoqueActions{
    width: calc(45rem + 40px);
  }

  .ItemBodyEstoqueActions > *{
    margin-right: 2rem;
  }
  
  .ItemBodyEstoqueActions > *:last-child{
    margin-right: 0;
  }


.ItemEstoque-Button{
  min-width: 15rem;
  height: 5rem;

  background-color: black;
  color: white;

  border: none;
  border: 3px solid black;

  font-weight: bolder;
}

.ItemEstoque-Button:hover{
  background-color: white;
  color: black;
}

.ItemEstoque-Button:active{
  background-color: black;
  color: white;
}

.ItemEstoque-Button:disabled{
  background-color: gray;
  color: white;
  border: 3px solid gray;
}