.contlEstoque{
  padding-top: 20rem;
  padding-bottom: 5rem;
  height: calc(100vh - 20rem - 5rem);
}

@media (max-width: 1024px){
  .contlEstoque{
    padding-top: 20rem;
    padding-bottom: 0rem;
    height: calc(100vh - 20rem);
  }
}

.ItemBodyEstoque{
  width: calc(100% - 120px);
  height: 100%;
}

@media (max-width: 425px){
  .ItemBodyEstoque{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

  .ItemBodyEstoqueDescription{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (max-width: 425px){
    .ItemBodyEstoqueDescription{
      width: 100%;
      height: auto;
      flex-grow: 1;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    .ItemBodyEstoqueDescription > *{
      margin-bottom: 0.5rem;
    }

    /* .ItemBodyEstoqueDescription > *:last-child{
      margin-right: 0;
    } */
  }

  .ItemBodyEstoqueDescription > *{
    /* margin-right: 2rem; */
  }

  .ItemBodyEstoqueDescription > *:last-child{
    margin-right: 0;
  }

    .ItemBodyRowInput{
      border-bottom: 3px solid transparent;
    }

    .ItemBodyRowInputTitle{
      border-bottom: 3px solid transparent;
      width: 100%;
    }

    .ItemBodyRowInputPreco{
      border-bottom: 3px solid transparent;
      width: 100%;
    }

    .ItemBodyRowInputQuantidade{
      border-bottom: 3px solid transparent;
      width: 100%;
    }




  .ItemBodyEstoqueActions{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (max-width: 425px){
    .ItemBodyEstoqueActions{
      height: auto;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .ItemBodyEstoqueActions > *{
      margin-right: 1rem;
    }
    
    .ItemBodyEstoqueActions > *:last-child{
      margin-right: 0;
    }
  }

  .ItemBodyEstoqueActions > *{
    /* margin-right: 2rem; */
  }
  
  .ItemBodyEstoqueActions > *:last-child{
    margin-right: 0;
  }


    .ItemEstoque-Button{
      background-color: transparent;
      font-weight: bolder;

      text-transform: uppercase;
    }

    /* .ItemEstoque-Button:hover{

    } */

    .ItemEstoque-Button:active{
      text-decoration: underline;
    }

    .ItemEstoque-Button:disabled{
      color: gray;
    }





.Form{
  width: calc(100% - (100% - 1024px));
  height: 10rem;
  padding-right: calc((100% - 1024px) / 2);
  padding-left: calc((100% - 1024px) / 2);
  position: fixed;
  top: 10rem;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.Formulario{
  width: 1024px;
  min-width: 1024px;
  max-width: 1024px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.Formulario > *{
  margin-right: 2rem;
}

.Formulario > *:last-child{
  margin-right: 0;
}

.FormularioImput{    
  width: calc(10rem - 6px);
  padding: 0 1rem;
  border: 3px solid black;
  /* border: 3px solid grey; */
  height: calc(5rem - 6px);
}

/* .FormularioImput:focus{
  border: 3px solid black;
} */

.FormularioImputTitle{
  width: calc(100% - 35rem - 60px);
}

.FormularioImputButton{
  width: 15rem;
  height: 5rem;
  background-color: black;
  color: white;
  /* border: 3px solid black; */
  font-weight: bolder;
}

.FormularioImputButton:hover{
  background-color: white;
  color: black;
}

.FormularioImputButton:active{
  background-color: white;
  color: black;
}