.contlProdutos{
    height: calc(100vh - 10rem - 5rem);
}

@media (max-width: 1024px){
    .contlProdutos{
        left: 0;
        height: calc(100vh - 10rem);
    }
}

.ItemBodyRowProdutos{
    width: calc(100% - 100px - 2rem);
    height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
}

    .ItemBodyText{
        /* width: calc(100% - 2rem - 15rem); */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

        .ItemTitleProdutos{
            width: 100%;

            /* margin-bottom: 0.5rem; */

            text-align: start;

            display: -webkit-box;
            -webkit-line-clamp: 1;
            overflow: hidden;
            -webkit-box-orient: vertical; 
        }

        .ItemBodyDescription{
            width: 100%;

            font-size: 1.6rem;
            color: rgba(0, 0, 0, 0.85);

            text-align: start;

            display: -webkit-box;
            -webkit-line-clamp: 1;
            overflow: hidden;
            -webkit-box-orient: vertical; 
        }

        .ItemBodyDescriptionPrice{
            width: 100%;

            font-size: 1.6rem;
            color: rgba(0, 0, 0, 0.85);

            text-align: start;

            display: -webkit-box;
            -webkit-line-clamp: 1;
            overflow: hidden;
            -webkit-box-orient: vertical; 
        }

        .ButtonsCarrinho{
            width: 100%;

            display: flex;
        }

        .ButtonsCarrinho > *{
            margin-right: 1rem;
        }

        .ButtonsCarrinho > *:last-child{
            margin: 0;
        }

            .ButtonCarrinho{
                background-color: transparent;
                color: black;

                font-weight: bolder;
                text-transform: uppercase;
    
                cursor: pointer;
            }

            .ButtonCarrinho:active{
                text-decoration: underline;
            }
            
            .ItemBodyWarning{
                font-size: 1.6rem;
                font-weight: bolder;
                text-transform: uppercase;
            }

.View{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 900;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 1024px){
    .View{
        padding: 0 1rem;
        width: calc(100% - 2 * 1.0rem);
    }
}

    .View .ItemCollumn{
        margin-top: 5rem;
        width: 1024px;
        flex-direction: column;
        height: 100%;
        margin-bottom: 0;
    }

    @media (max-width: 1024px){
        .View .ItemCollumn{
            width: 100%;
        }
    }

        .View .ItemCollumn > *{
            margin-bottom: 2.5rem;
        }

        .View .ItemCollumn > *:last-child{
            margin-bottom: 0;
        }

            .View .ItemBodyRowProdutos{
                height: auto;
            }

            @media (max-width: 1024px){
                .View .ItemBodyRowProdutos{
                    width: 100%;
                }
            }

                .View .ItemBodyDescription {
                    display: initial;
                    -webkit-line-clamp: initial;
                    overflow: initial;
                    -webkit-box-orient: initial;
                }

                .View .ItemBodyText > *{
                    margin-bottom: 1rem;
                }

                .View .ItemBodyText > *:last-child{
                    margin-bottom: 0;
                }

    .View .ItemCollumn > *{
        margin-right: 0;
    }

    .View .ItemCollumn > *:last-child{
        margin-right: 0;
    }

    /* .ItemBodyFooter{
        height: 100%;
        width: 15rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    } */

        /* .ItemBodyWarning{
        display: flex;
        justify-content: center;
        align-items: center;

        width: calc(50% - 0.5rem);

        background-color: black;
        color: white;

        font-size: 1.2rem;
        font-weight: bolder;
        text-transform: uppercase;

        border: none;

        height: 100%;

        flex-grow: 1;
        } */

        /* .ItemBodyAction{
            width: 100%;
            height: 5rem;

            background-color: black;
            color: white;

            font-weight: bolder;
            text-transform: uppercase;

            border: 3px solid black;

            cursor: pointer;
        }

        .ItemBodyAction:hover{
        background-color: white;
        color: black;
        }

        .ItemBodyAction:active{
        background-color: black;
        color: white;
        } */