.contlPedidos{
  height: calc(100vh - 10rem - 5rem);
}

@media (max-width: 1024px){
  .contlPedidos{
    left: 0;
    height: calc(100vh - 10rem);
  }
}

.ItemBodyPedidos{
  width: calc(100% - 120px);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

  .ItemBodyPedidosTitle{
    width: 100%;
  }

    .ItemTitlePagamento{
      width: 100%;
    }

  .ItemBodyPedidosDescription{
    width: 100%;
  }

  /* .ItemBodyPedidosActions{
    width: 15rem;
  } */