.ItemTitlePedidos{
  width: calc(1080px - 33rem);
}

.ItemBodyPedidos{
  width: calc(1080px - 120px);
}

  .ItemBodyPedidosTitle{
    width: calc(100% - 20rem - 40px);
  }

    .ItemTitlePagamento{
      width: 100%;
    }

  .ItemBodyPedidosDescription{
    width: 10rem;
  }

  .ItemBodyPedidosActions{
    width: 15rem;
  }