
.Header{
  width: calc(100% - (100% - 1024px));
  height: 5rem;

  padding-left: calc((100% - 1024px) / 2);
  padding-right: calc((100% - 1024px) / 2);

  background-color: transparent;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
	clear: both;
}

.Header *{
  transition: all ease-in-out 0.1s;
}

@media (max-width: 1024px){
  .Header{
    width: calc(100%);
    height: 5rem;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px){
    
}

@media (max-width: 480px){
    
}

@media (max-width: 320px){
    
}

.Links{
  width: 1024px;
  min-width: 1024px;
  max-width: 1024px;
  height: 100%;

  background-color: transparent;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  border: none;
	clear: both;
}

@media (max-width: 1024px){
  .Links{
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }  
}

@media (max-width: 768px){
    
}

@media (max-width: 480px){
    
}

@media (max-width: 320px){
    
}
  
.Link{
  width: 50px;
  height: 50px;

  /* margin-left: 10px; */

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  text-align: center;

  border: none;
	clear: both;
  text-decoration: none;
  outline: none;
}
  
.Link:hover{
  background-color: black;
}
  
.Link:active{
  background-color: transparent;
}
  
.Link:hover > .LinkIcon{
  color: white;
}
  
.Link:active > .LinkIcon{
  color: black;
}

@media (max-width: 1024px){
          
}

@media (max-width: 768px){
    
}

@media (max-width: 480px){
    
}

@media (max-width: 320px){
    
}

.LinkIcon{
  color: black;

  font-size: 3rem;
}

@media (max-width: 1024px){
          
}

@media (max-width: 768px){
    
}

@media (max-width: 480px){
    
}

@media (max-width: 320px){
    
}