.contlPagamento{
  padding-top: 10rem;
  padding-bottom: 15rem;
  height: calc(100vh - 10rem - 15rem);
}

@media (max-width: 1024px){
  .contlPagamento{
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: calc(100vh - 10rem - 10rem);
  }
  .ActionsPagamento{
    bottom: 0;
  }
}

.ItemBodyPagamento{
  width: calc(100% - 120px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

  .ItemBodyPagamentoTitle{
    width: 100%;
  }

    .ItemTitlePagamento{
      width: 100%;
    }

  .ItemBodyPagamentoDescription{
    width: 100%;
  }

  /* .ItemBodyPagamentoActions{
    width: 15rem;
  } */



.SelectPay{
  width: 100%;
  height: auto;
  /* padding-right: calc((100% - 1024px) / 2);
  padding-left: calc((100% - 1024px) / 2); */
  /* position: fixed; */
  /* top: 10rem; */
  /* left: 0; */
  /* z-index: 9999; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* @media (max-width: 1024px){
  .SelectPay{
    width: calc(100%);
    padding-left: 0;
    padding-right: 0;
  }
} */

  .SelectPayContent{
    width: 100%;
    /* min-width: 320px;
    max-width: 1024px; */
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  /* @media (max-width: 1024px){
    .SelectPayContent{
      height: 100%;
      width: calc(100% - 2rem);
      max-width: calc(1024px - 2rem);
      min-width: calc(320px - 2rem);
    }
  } */

    .Radio{
      width: 100%;
    }

    .Radio > *{
      margin-bottom: 1rem;
    }

      .RadioColection{
        width: 100%;
      }

      .RadioColection > *{
        margin-right: 1rem;
      }

    .WarningPagamento{
      width: 100%;
    }

    .SelecForm{
      width: 100%;
    }

    .SelecForm > *{
      margin-bottom: 1.3rem;
    }

      .SelecFormInput{
        width: 100%;
        background-color: transparent;
        border-bottom: 3px solid black;
      }