.contlCarrinho{
  height: calc(100vh - 10rem - 15rem);
}

@media (max-width: 1024px){
  .contlCarrinho{
    left: 0;
    height: calc(100vh - 10rem - 10rem);
  }
  .ActionsCarrinho{
    bottom: 0;
  }
}

/* .ItemCollumnCarrinho{
  cursor: default;
} */

  .ItemBodyCarrinho{
    width: calc(100% - 100px - 20px);
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  /* .ItemBodyCarrinho > *{
    margin-bottom: 0.5rem;
  }

  .ItemBodyCarrinho > *:last-child{
    margin-right: 0;
  } */

    .ItemBodyCarrinhoTitle{
      width: 100%;
    }
  
      .ItemTitleCarrinho{
        width: 100%;
      }
  
    .ItemBodyCarrinhoDescription{
      width: 100%;
      display: flex;
    }

      .ItemCarrinhoText{
        font-size: 1.6rem;

        height: 100%;
        /* width: calc(100% / 3); */

        text-align: center;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        overflow: hidden;
        -webkit-box-orient: vertical; 
      }

    .ItemBodyCarrinhoActions{
      width: 100%;
      height: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .ItemBodyCarrinhoActions > *{
      margin-right: 0.5rem;
    }

    .ItemBodyCarrinhoActions > *:last-child{
      margin-right: 0;
    }
      
      .ItemCarrinho-Actions{
        font-size: 1.4rem;
        
        height: 100%;
        background-color: transparent;

        /* width: calc(100% / 3); */
      
        text-transform: uppercase;
        font-weight: bolder;
      
        cursor: pointer;
      }
      
      .ItemCarrinho-Actions:hover{
        text-decoration: none;
      }
      
      .ItemCarrinho-Actions:active{
        text-decoration: underline;
      }

.Total{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10rem;
  left: 0;
  z-index: 901;
  width: calc(100% - (100% - 1024px));
  height: 5rem;
  padding-left: calc((100% - 1024px) / 2);
  padding-right: calc((100% - 1024px) / 2);
}

@media (max-width: 1024px){
  .Total{
    width: calc(100%);
    padding-left: 0;
    padding-right: 0;
    bottom: 5rem;
  }
}

  .TotalContent{
    height: 100%;
    width: 100%;
    max-width: 1024px;
    min-width: 1024px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  @media (max-width: 1024px){
    .TotalContent{
      height: 100%;
      width: calc(100% - 2rem);
      max-width: calc(1024px - 2rem);
      min-width: calc(320px - 2rem);
    }
  }

  .TotalContent > *{
    margin-right: 1rem;
  }

  .TotalContent > *:last-child{
    margin-right: 0;
  }

    .TotalText{
      font-size: 2rem;
    }

    .TotalText > strong{
      font-size: 2rem;
    }