:root{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

body{
  width: 100vw;
}

#root{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contl{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: calc(100% - (100% - 1080px));
  height: calc(100vh - 10rem - 5rem);
  padding-top: 10rem;
  padding-left: calc((100% - 1080px) / 2);
  padding-right: calc((100% - 1080px) / 2);
  padding-bottom: 5rem;
}

.Lista{
  min-width: 1080px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  overflow: auto;
}

.Actions{
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 5rem;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.Actions > button{
  width: 100%;
  max-width: calc(540px - 0.5rem);
  height: calc(5rem - 2 * 0.5rem);
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  font-weight: bolder;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border: 3px solid black;
}

.Actions > button:first-child{
  margin-right: 1rem;
}

.Actions > button:hover{
  background-color: white;
  color: black;
}

.Actions > button:active{
  background-color: black;
  color: white;
}

.Warning-Txt{
  font-size: 5rem;
  position: fixed;
  top: 10rem;
  left: 0;
  margin-right: calc((100% - 1080px) / 2);
  margin-left: calc((100% - 1080px) / 2);
  border: 1px solid black;
  width: 100%;
  max-width: 1080px;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}