:root{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  outline: none;
  text-decoration: none;
  border: none;
  border-radius: 0;
  transition: all 0.3s ease;
}

body{
  width: 100vw;
}

#root{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contl{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: calc(100% - (100% - 1080px));
  height: calc(100vh - 10rem - 5rem);
  padding-top: 10rem;
  padding-left: calc((100% - 1080px) / 2);
  padding-right: calc((100% - 1080px) / 2);
  padding-bottom: 5rem;
}

.Lista{
  height: 100%;
  width: 100%;
  max-width: 1080px;
  display: flex;
  align-items: flex-start;
  /* overflow: auto; */
}

.ListaCell{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: auto;
}

.ListaColumn{
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-y: scroll;
}

/* .ListaRow{

} */

.Item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.ItemCell{
  flex-direction: column;
  width: calc(270px - (2 * 1rem));
  height: 300px;
  margin-bottom: 2.5rem;
}

.ItemCollumn{
  flex-direction: row;
  width: 100%;
  height: 10rem;
  margin-bottom: 2rem;
}

.ItemCollumn > *{
  margin-right: 2rem;
}

.ItemCollumn > *:last-child{
  margin-right: 0;
}

.ItemTitle{
  font-size: 2rem;

  text-transform: uppercase;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical; 
}

.ItemBodyRow{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ItemBodyRow > *{
  margin-right: 2rem;
}

.ItemBodyRow > *:last-child{
  margin-right: 0;
}

  .ItemBodyRowTitle{
    width: calc(100% - 25rem - 40px);
  }

  .ItemBodyRowDescription{
    width: 10rem;
  }

  .ItemBodyRowActions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .ItemBodyText{
    width: 100%;

    text-align: center;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical; 
  }

/* .ItemCarrinho{
  width: calc(100% - 1rem);
  height: 10rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ItemCarrinho-Imagem{
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/406152/pexels-photo-406152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.Lista::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Lista {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Actions{
  width: calc(100% - (100% - 1080px));
  padding-left: calc((100% - 1080px) / 2);
  padding-right: calc((100% - 1080px) / 2);
  height: 5rem;
  position: fixed;
  bottom: 5rem;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.Buttons{
  width: 1080px;
  min-width: 1080px;
  max-width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.Buttons > button{
  width: 100%;
  max-width: calc(540px - 0.5rem);
  height: calc(5rem - 2 * 0.5rem);
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  font-weight: bolder;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border: 3px solid black;
}

.Buttons > button:first-child{
  margin-right: 1rem;
}

.Buttons > button:hover{
  background-color: white;
  color: black;
}

.Buttons > button:active{
  background-color: black;
  color: white;
}

.Warning-Txt{
  font-size: 5rem;
  position: fixed;
  top: 10rem;
  left: 0;
  margin-right: calc((100% - 1080px) / 2);
  margin-left: calc((100% - 1080px) / 2);
  border: 1px solid black;
  width: 100%;
  max-width: 1080px;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}