.contlPainel{
  padding-top: 10rem;
  padding-bottom: 5rem;
  height: calc(100vh - 10rem - 5rem);
}

@media (max-width: 1024px){
  .contlPainel{
    padding-top: 10rem;
    padding-bottom: 0rem;
    height: calc(100vh - 10rem);
  }
}

  .ItemBodyPainel{
    width: calc(100% - 120px);
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

    .ItemBodyPainelTitle{
      width: 100%;
    }
  
      .ItemTitlePainel{
        width: 100%;
      }

    .ItemBodyPainelDescription{
      width: 10rem;
    }

    .ItemBodyPainelActions{
      width: calc(45rem + 40px);

      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .ItemBodyPainelActions > *{
      margin-right: 1rem;
    }
    
    .ItemBodyPainelActions > *:last-child{
      margin-right: 0;
    }
  
      .ItemPainel-Actions{
        background-color: transparent;

        text-transform: uppercase;
      
        font-weight: bolder;

        cursor: pointer;
      }
      
      .ItemPainel-Actions:hover{
        /* background-color: white;
        color: black; */
      }
      
      .ItemPainel-Actions:active{
        text-decoration: underline;
        /* background-color: black;
        color: white; */
      }