
  .ItemBodyPainel{
    width: calc(1024px - 120px);
  }

    .ItemBodyPainelTitle{
      width: calc(100% - 65rem - 100px);
    }
  
      .ItemTitlePainel{
        width: 100%;
      }

    .ItemBodyPainelDescription{
      width: 10rem;
    }

    .ItemBodyPainelActions{
      width: calc(45rem + 40px);
    }
  
    .ItemBodyPainelActions > *{
      margin-right: 2rem;
    }
    
    .ItemBodyPainelActions > *:last-child{
      margin-right: 0;
    }
  
  .ItemPainel-Actions{
    width: 15rem;
    height: 5rem;
  
    background-color: black;
    color: white;
  
    border: none;
    border: 3px solid black;
  
    font-weight: bolder;
  }
  
  .ItemPainel-Actions:hover{
    background-color: white;
    color: black;
  }
  
  .ItemPainel-Actions:active{
    background-color: black;
    color: white;
  }