.Form{
    z-index: 99999;
    position: fixed;
    top: 10rem;
    left: 0;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .Formulario{
    width: 100%;
    max-width: 1080px;
    height: calc(100% - 2rem);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 1rem 0;
  }
  
  .Formulario > *{
    padding: 1rem;
    margin-right: 1rem;
    flex-grow: 1;
  }
  
  .Formulario > *:last-child{
    margin-right: 0;
  }

  

  .ItemBodyPainel{
    width: calc(1080px - 120px);
  }

    .ItemBodyPainelTitle{
      width: calc(100% - 65rem - 100px);
    }
  
      .ItemTitlePainel{
        width: 100%;
      }

    .ItemBodyPainelDescription{
      width: 10rem;
    }

    .ItemBodyPainelActions{
      width: calc(45rem + 40px);
    }
  
    .ItemBodyPainelActions > *{
      margin-right: 2rem;
    }
    
    .ItemBodyPainelActions > *:last-child{
      margin-right: 0;
    }
  
  .ItemPainel-Actions{
    width: 15rem;
    height: 5rem;
  
    background-color: black;
    color: white;
  
    border: none;
    border: 3px solid black;
  
    font-weight: bolder;
  }
  
  .ItemPainel-Actions:hover{
    background-color: white;
    color: black;
  }
  
  .ItemPainel-Actions:active{
    background-color: black;
    color: white;
  }